<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Questions</title>
    <link rel="stylesheet" href="static/app.css">
  </head>
  <body>
    <h1>Welcome to Madlibs!</h1>
    <form action="/story">
      {% for prompt in prompts %}
      <p>
        {{prompt}}:
        <input
          type="text"
          name="{{prompt}}"
        />
      </p>
      {%endfor%}
      <button>Get Madlib</button>
    </form>
  </body>
</html>
